---
title: Wikipedia Viewer
---
<div class="welcome">
	<a href="http://en.wikipedia.org/wiki/Special:Random" target="_blank">Click here for random article</a>
	<form NAME="myform" ACTION="" METHOD="GET">
		<input TYPE="text" NAME="inputbox" VALUE="" onkeydown="testResults(this.form)" oninput="testResults(this.form)">
	</form>
	<ul id="results" href="#"></ul>
</div><!-- .welcome -->